body {
	font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif; -ms-overflow-x: hidden;
}
.text-muted {
	color: rgb(119, 119, 119);
}
.text-primary {
	color: rgb(237, 134, 0);
}
p {
	line-height: 200%; letter-spacing: 0.1em; font-weight: bold; margin-bottom: 1.5rem; -webkit-font-smoothing: antialiased;
}
p.large {
	font-size: 16px;
}
a {
	
}
a:hover {
	
}
a:focus {
	
}
a:active {
	
}
a.active {
	
}
a {
	color: rgb(237, 134, 0);
}
a:hover {
	color: rgb(186, 105, 0);
}
a:focus {
	color: rgb(186, 105, 0);
}
a:active {
	color: rgb(186, 105, 0);
}
a.active {
	color: rgb(186, 105, 0);
}
h1 {
	text-transform: uppercase; font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 700;
}
h2 {
	text-transform: uppercase; font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 700;
}
h3 {
	text-transform: uppercase; font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 700;
}
h4 {
	text-transform: uppercase; font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 700;
}
h5 {
	text-transform: uppercase; font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 700;
}
h6 {
	text-transform: uppercase; font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 700;
}
.img-centered {
	margin: 0px auto;
}
.bg-light-gray {
	background-color: rgb(238, 238, 238);
}
.bg-darkest-gray {
	background-color: rgb(34, 34, 34);
}
.btn-primary {
	border-color: rgb(237, 134, 0); color: white; text-transform: uppercase; font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 700; background-color: rgb(237, 134, 0);
}
.btn-primary:hover {
	border-color: rgb(176, 99, 0); color: white; background-color: rgb(186, 105, 0);
}
.btn-primary:focus {
	border-color: rgb(176, 99, 0); color: white; background-color: rgb(186, 105, 0);
}
.btn-primary:active {
	border-color: rgb(176, 99, 0); color: white; background-color: rgb(186, 105, 0);
}
.btn-primary.active {
	border-color: rgb(176, 99, 0); color: white; background-color: rgb(186, 105, 0);
}
.open .dropdown-toggle.btn-primary {
	border-color: rgb(176, 99, 0); color: white; background-color: rgb(186, 105, 0);
}
.btn-primary:active {
	background-image: none;
}
.btn-primary.active {
	background-image: none;
}
.open .dropdown-toggle.btn-primary {
	background-image: none;
}
.btn-primary.disabled {
	border-color: rgb(237, 134, 0); background-color: rgb(237, 134, 0);
}
[disabled].btn-primary {
	border-color: rgb(237, 134, 0); background-color: rgb(237, 134, 0);
}
fieldset[disabled] .btn-primary {
	border-color: rgb(237, 134, 0); background-color: rgb(237, 134, 0);
}
.btn-primary.disabled:hover {
	border-color: rgb(237, 134, 0); background-color: rgb(237, 134, 0);
}
[disabled].btn-primary:hover {
	border-color: rgb(237, 134, 0); background-color: rgb(237, 134, 0);
}
fieldset[disabled] .btn-primary:hover {
	border-color: rgb(237, 134, 0); background-color: rgb(237, 134, 0);
}
.btn-primary.disabled:focus {
	border-color: rgb(237, 134, 0); background-color: rgb(237, 134, 0);
}
[disabled].btn-primary:focus {
	border-color: rgb(237, 134, 0); background-color: rgb(237, 134, 0);
}
fieldset[disabled] .btn-primary:focus {
	border-color: rgb(237, 134, 0); background-color: rgb(237, 134, 0);
}
.btn-primary.disabled:active {
	border-color: rgb(237, 134, 0); background-color: rgb(237, 134, 0);
}
[disabled].btn-primary:active {
	border-color: rgb(237, 134, 0); background-color: rgb(237, 134, 0);
}
fieldset[disabled] .btn-primary:active {
	border-color: rgb(237, 134, 0); background-color: rgb(237, 134, 0);
}
.btn-primary.disabled.active {
	border-color: rgb(237, 134, 0); background-color: rgb(237, 134, 0);
}
[disabled].btn-primary.active {
	border-color: rgb(237, 134, 0); background-color: rgb(237, 134, 0);
}
fieldset[disabled] .btn-primary.active {
	border-color: rgb(237, 134, 0); background-color: rgb(237, 134, 0);
}
.btn-primary .badge {
	color: rgb(237, 134, 0); background-color: white;
}
.btn-xl {
	border-color: rgb(237, 134, 0); padding: 20px 40px; border-radius: 3px; color: white; text-transform: uppercase; font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 700; background-color: rgb(237, 134, 0);
}
.btn-xl:hover {
	border-color: rgb(176, 99, 0); color: white; background-color: rgb(186, 105, 0);
}
.btn-xl:focus {
	border-color: rgb(176, 99, 0); color: white; background-color: rgb(186, 105, 0);
}
.btn-xl:active {
	border-color: rgb(176, 99, 0); color: white; background-color: rgb(186, 105, 0);
}
.btn-xl.active {
	border-color: rgb(176, 99, 0); color: white; background-color: rgb(186, 105, 0);
}
.open .dropdown-toggle.btn-xl {
	border-color: rgb(176, 99, 0); color: white; background-color: rgb(186, 105, 0);
}
.btn-xl:active {
	background-image: none;
}
.btn-xl.active {
	background-image: none;
}
.open .dropdown-toggle.btn-xl {
	background-image: none;
}
.btn-xl.disabled {
	border-color: rgb(237, 134, 0); background-color: rgb(237, 134, 0);
}
[disabled].btn-xl {
	border-color: rgb(237, 134, 0); background-color: rgb(237, 134, 0);
}
fieldset[disabled] .btn-xl {
	border-color: rgb(237, 134, 0); background-color: rgb(237, 134, 0);
}
.btn-xl.disabled:hover {
	border-color: rgb(237, 134, 0); background-color: rgb(237, 134, 0);
}
[disabled].btn-xl:hover {
	border-color: rgb(237, 134, 0); background-color: rgb(237, 134, 0);
}
fieldset[disabled] .btn-xl:hover {
	border-color: rgb(237, 134, 0); background-color: rgb(237, 134, 0);
}
.btn-xl.disabled:focus {
	border-color: rgb(237, 134, 0); background-color: rgb(237, 134, 0);
}
[disabled].btn-xl:focus {
	border-color: rgb(237, 134, 0); background-color: rgb(237, 134, 0);
}
fieldset[disabled] .btn-xl:focus {
	border-color: rgb(237, 134, 0); background-color: rgb(237, 134, 0);
}
.btn-xl.disabled:active {
	border-color: rgb(237, 134, 0); background-color: rgb(237, 134, 0);
}
[disabled].btn-xl:active {
	border-color: rgb(237, 134, 0); background-color: rgb(237, 134, 0);
}
fieldset[disabled] .btn-xl:active {
	border-color: rgb(237, 134, 0); background-color: rgb(237, 134, 0);
}
.btn-xl.disabled.active {
	border-color: rgb(237, 134, 0); background-color: rgb(237, 134, 0);
}
[disabled].btn-xl.active {
	border-color: rgb(237, 134, 0); background-color: rgb(237, 134, 0);
}
fieldset[disabled] .btn-xl.active {
	border-color: rgb(237, 134, 0); background-color: rgb(237, 134, 0);
}
.btn-xl .badge {
	color: rgb(237, 134, 0); background-color: white;
}
.navbar-custom {
	border-color: transparent; background-color: rgb(85, 85, 85);
}
.navbar-custom .navbar-brand {
	color: rgb(237, 134, 0); font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}
.navbar-custom .navbar-brand:hover {
	color: rgb(186, 105, 0);
}
.navbar-custom .navbar-brand:focus {
	color: rgb(186, 105, 0);
}
.navbar-custom .navbar-brand:active {
	color: rgb(186, 105, 0);
}
.navbar-custom .navbar-brand.active {
	color: rgb(186, 105, 0);
}
.navbar-custom .navbar-collapse {
	border-color: rgba(255, 255, 255, 0.02);
}
.navbar-custom .navbar-toggle {
	border-color: rgb(237, 134, 0); color: white; text-transform: uppercase; font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 12px; background-color: rgb(237, 134, 0);
}
.navbar-custom .navbar-toggle:hover {
	background-color: rgb(237, 134, 0);
}
.navbar-custom .navbar-toggle:focus {
	background-color: rgb(237, 134, 0);
}
.navbar-custom .nav li a {
	color: white; text-transform: uppercase; letter-spacing: 1px; font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 400;
}
.navbar-custom .nav li a:hover {
	color: rgb(237, 134, 0);
}
.navbar-custom .nav li a:focus {
	color: rgb(237, 134, 0);
}
.navbar-custom .navbar-nav > .active > a {
	border-radius: 0px; color: white; background-color: rgb(237, 134, 0);
}
.navbar-custom .navbar-nav > .active > a:hover {
	color: white; background-color: rgb(186, 105, 0);
}
.navbar-custom .navbar-nav > .active > a:focus {
	color: white; background-color: rgb(186, 105, 0);
}
@media all and (min-width:768px)
{
.navbar-custom {
	padding: 25px 0px; border: currentColor; transition:padding 0.3s; border-image: none; background-color: transparent; -webkit-transition: padding 0.3s; -moz-transition: padding 0.3s;
}
.navbar-custom .navbar-brand {
	transition:0.3s; font-size: 2em; -webkit-transition: all 0.3s; -moz-transition: all 0.3s;
}
.navbar-custom .navbar-nav > .active > a {
	border-radius: 3px;
}
}
@media all and (min-width:768px)
{
.navbar-custom.affix {
	padding: 10px 0px; background-color: rgb(85, 85, 85);
}
.navbar-custom.affix .navbar-brand {
	font-size: 1.5em;
}
}
header {
	background-position: center; text-align: center; color: white; background-image: url("../img/header-bg.jpg"); background-attachment: scroll; background-repeat: no-repeat; background-size: cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;
}
header .intro-text {
	padding-top: 100px; padding-bottom: 50px;
}
header .intro-text .intro-lead-in {
	line-height: 22px; font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 22px; font-style: italic; margin-bottom: 25px;
}
header .intro-text .intro-heading {
	text-transform: uppercase; line-height: 50px; font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 50px; font-weight: 700; margin-bottom: 25px;
}
@media all and (min-width:768px)
{
header .intro-text {
	padding-top: 300px; padding-bottom: 200px;
}
header .intro-text .intro-lead-in {
	line-height: 40px; font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 40px; font-style: italic; margin-bottom: 25px;
}
header .intro-text .intro-heading {
	text-transform: uppercase; line-height: 75px; font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 75px; font-weight: 700; margin-bottom: 50px;
}
}
section {
	padding: 20px 0px;
}
section h2.section-heading {
	font-size: 40px; margin-top: 0px; margin-bottom: 15px;
}
section h3.section-subheading {
	text-transform: none; font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 16px; font-style: italic; font-weight: 400; margin-bottom: 75px;
}
@media all and (min-width:768px)
{
section {
	padding: 50px 0px;
}
}
.service-heading {
	margin: 15px 0px; text-transform: none;
}
#portfolio .portfolio-item {
	margin: 0px 0px 15px; right: 0px;
}
#portfolio .portfolio-item .portfolio-link {
	margin: 0px auto; display: block; position: relative; max-width: 400px;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
	background: rgba(237, 134, 0, 0.9); transition:0.5s; width: 100%; height: 100%; position: absolute; opacity: 0; -webkit-transition: all ease 0.5s; -moz-transition: all ease 0.5s;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
	opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
	top: 50%; width: 100%; height: 20px; text-align: center; color: white; font-size: 20px; margin-top: -12px; position: absolute;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
	margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3 {
	margin: 0px;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
	margin: 0px;
}
#portfolio .portfolio-item .portfolio-caption {
	margin: 0px auto; padding: 25px; text-align: center; max-width: 400px; background-color: white;
}
#portfolio .portfolio-item .portfolio-caption h4 {
	margin: 0px; text-transform: none;
}
#portfolio .portfolio-item .portfolio-caption p {
	margin: 0px; font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 16px; font-style: italic;
}
#portfolio * {
	z-index: 2;
}
@media all and (min-width:767px)
{
#portfolio .portfolio-item {
	margin: 0px 0px 30px;
}
}
.timeline {
	list-style: none; padding: 0px; position: relative;
}
.timeline::before {
	left: 40px; top: 0px; width: 2px; bottom: 0px; margin-left: -1.5px; position: absolute; content: ""; background-color: rgb(241, 241, 241);
}
.timeline > li {
	margin-bottom: 50px; position: relative; min-height: 50px;
}
.timeline > li::before {
	display: table; content: " ";
}
.timeline > li::after {
	display: table; content: " ";
}
.timeline > li::after {
	clear: both;
}
.timeline > li .timeline-panel {
	padding: 0px 20px 0px 100px; width: 100%; text-align: left; float: right; position: relative;
}
.timeline > li .timeline-panel::before {
	left: -15px; right: auto; border-right-width: 15px; border-left-width: 0px;
}
.timeline > li .timeline-panel::after {
	left: -14px; right: auto; border-right-width: 14px; border-left-width: 0px;
}
.timeline > li .timeline-image {
	border-radius: 100%; border: 7px solid rgb(241, 241, 241); border-image: none; left: 0px; width: 80px; height: 80px; text-align: center; color: white; margin-left: 0px; position: absolute; z-index: 100; background-color: rgb(237, 134, 0);
}
.timeline > li .timeline-image h4 {
	line-height: 14px; font-size: 10px; margin-top: 12px;
}
.timeline > li.timeline-inverted > .timeline-panel {
	padding: 0px 20px 0px 100px; text-align: left; float: right;
}
.timeline > li.timeline-inverted > .timeline-panel::before {
	left: -15px; right: auto; border-right-width: 15px; border-left-width: 0px;
}
.timeline > li.timeline-inverted > .timeline-panel::after {
	left: -14px; right: auto; border-right-width: 14px; border-left-width: 0px;
}
.timeline > li:last-child {
	margin-bottom: 0px;
}
.timeline .timeline-heading h4 {
	color: inherit; margin-top: 0px;
}
.timeline .timeline-heading h4.subheading {
	text-transform: none;
}
.timeline .timeline-body > p {
	margin-bottom: 0px;
}
.timeline .timeline-body > ul {
	margin-bottom: 0px;
}
@media all and (min-width:768px)
{
.timeline::before {
	left: 50%;
}
.timeline > li {
	margin-bottom: 100px; min-height: 100px;
}
.timeline > li .timeline-panel {
	padding: 0px 20px 20px 30px; width: 41%; text-align: right; float: left;
}
.timeline > li .timeline-image {
	left: 50%; width: 100px; height: 100px; margin-left: -50px;
}
.timeline > li .timeline-image h4 {
	line-height: 18px; font-size: 13px; margin-top: 16px;
}
.timeline > li.timeline-inverted > .timeline-panel {
	padding: 0px 30px 20px 20px; text-align: left; float: right;
}
}
@media all and (min-width:992px)
{
.timeline > li {
	min-height: 150px;
}
.timeline > li .timeline-panel {
	padding: 0px 20px 20px;
}
.timeline > li .timeline-image {
	width: 150px; height: 150px; margin-left: -75px;
}
.timeline > li .timeline-image h4 {
	line-height: 26px; font-size: 18px; margin-top: 30px;
}
.timeline > li.timeline-inverted > .timeline-panel {
	padding: 0px 20px 20px;
}
}
@media all and (min-width:1200px)
{
.timeline > li {
	min-height: 170px;
}
.timeline > li .timeline-panel {
	padding: 0px 20px 20px 100px;
}
.timeline > li .timeline-image {
	width: 170px; height: 170px; margin-left: -85px;
}
.timeline > li .timeline-image h4 {
	margin-top: 40px;
}
.timeline > li.timeline-inverted > .timeline-panel {
	padding: 0px 100px 20px 20px;
}
}
.team-member {
	text-align: center; margin-bottom: 50px;
}
.team-member img {
	margin: 0px auto; border: 7px solid white; border-image: none;
}
.team-member h4 {
	text-transform: none; margin-top: 25px; margin-bottom: 0px;
}
.team-member p {
	margin-top: 0px;
}
aside.clients img {
	margin: 50px auto;
}
section#contact {
	background-position: center; background-image: url("../img/map-image.png"); background-repeat: no-repeat; background-color: rgb(34, 34, 34);
}
section#contact .section-heading {
	color: white;
}
section#contact .form-group {
	margin-bottom: 25px;
}
section#contact .form-group input {
	padding: 20px;
}
section#contact .form-group textarea {
	padding: 20px;
}
section#contact .form-group input.form-control {
	height: auto;
}
section#contact .form-group textarea.form-control {
	height: 236px;
}
section#contact .form-control:focus {
	border-color: rgb(237, 134, 0); box-shadow: none;
}
section#contact :-ms-input-placeholder {
	color: rgb(238, 238, 238); text-transform: uppercase; font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 700;
}
section#contact .text-danger {
	color: rgb(231, 76, 60);
}
footer {
	padding: 25px 0px; text-align: center;
}
footer span.copyright {
	text-transform: none; line-height: 40px; font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
footer ul.quicklinks {
	text-transform: none; line-height: 40px; font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; margin-bottom: 0px;
}
ul.social-buttons {
	margin-bottom: 0px;
}
ul.social-buttons li a {
	border-radius: 100%; transition:0.3s; width: 40px; height: 40px; color: white; line-height: 40px; font-size: 20px; display: block; background-color: rgb(34, 34, 34); -webkit-transition: all 0.3s; -moz-transition: all 0.3s;
}
ul.social-buttons li a:hover {
	background-color: rgb(237, 134, 0);
}
ul.social-buttons li a:focus {
	background-color: rgb(237, 134, 0);
}
ul.social-buttons li a:active {
	background-color: rgb(237, 134, 0);
}
.btn:focus {
	
}
.btn:active {
	
}
.btn.active {
	
}
.btn:focus:active {
	
}
.portfolio-modal .modal-dialog {
	margin: 0px; width: auto; height: 100%;
}
.portfolio-modal .modal-content {
	padding: 100px 0px; border-radius: 0px; border: currentColor; border-image: none; text-align: center; min-height: 100%; box-shadow: none; background-clip: border-box; -webkit-box-shadow: none;
}
.portfolio-modal .modal-content h2 {
	font-size: 3em; margin-bottom: 15px;
}
.portfolio-modal .modal-content p {
	margin-bottom: 30px;
}
.portfolio-modal .modal-content p.item-intro {
	margin: 20px 0px 30px; font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 16px; font-style: italic;
}
.portfolio-modal .modal-content ul.list-inline {
	margin-top: 0px; margin-bottom: 30px;
}
.portfolio-modal .modal-content img {
	margin-bottom: 30px;
}
.portfolio-modal .close-modal {
	top: 25px; width: 75px; height: 75px; right: 25px; position: absolute; cursor: pointer; background-color: transparent;
}
.portfolio-modal .close-modal:hover {
	opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
	width: 1px; height: 75px; margin-left: 35px; z-index: 1051; transform: rotate(45deg); background-color: rgb(34, 34, 34); -webkit-transform: rotate(45deg);
}
.portfolio-modal .close-modal .lr .rl {
	width: 1px; height: 75px; z-index: 1052; transform: rotate(90deg); background-color: rgb(34, 34, 34); -webkit-transform: rotate(90deg);
}
.portfolio-modal .modal-backdrop {
	display: none; opacity: 0;
}
::selection {
	background: rgb(237, 134, 0); text-shadow: none;
}
img::selection {
	background: none;
}
body {
	webkit-tap-highlight-color: #ed8600;
}
